.two-col-slider .slick-dots li, .three-col-slider .slick-dots li {
  background-color: #ffffff;
}
.two-col-slider .slick-dots li.slick-active, .three-col-slider .slick-dots li.slick-active {
  background-color: #ffffff;
  opacity: 1;
}
