.social-list a:hover{
  border-bottom: 4px solid #003A79;
}

.filter-white .social-list a:hover{
  border-bottom: 4px solid #FFFFFF;
}

.filter-white .text-white.bg-blue{
  color:#FFFFFF;
  background:#3CD2FF;
}

.filter-white .cyan-filter:hover{
  color:#FFFFFF;
  background:#3CD2FF;
}

.filter-white .btn-blue-outline a{
  background:#FFFFFF;
  color:#003A79;
  border:1px solid transparent;
}
.filter-white .btn-blue-outline a:hover{
  color:#FFFFFF;
  background:#003A79;
  border:1px solid #FFFFFF;
}
