.accordion-question-wrapper.is-active .accordion-btn:before,
.accordion-question-wrapper .accordion-btn:before{
  content: "";
  position: absolute;
  inset: 0;
  width: 30px;
  height: 30px;
  background-size:100% 100%;
  background-repeat:no-repeat;
}
.accordion{
  border-top: 1px solid #e6e1dc;
  border-bottom: 1px solid #e6e1dc;
}
.accordion .accordion-question-wrapper:not(:last-child){
  border-bottom: 1px solid #e6e1dc;
}
.bg-silver-light .accordion .accordion-question-wrapper,
.bg-silver .accordion .accordion-question-wrapper{
  border-bottom: 1px solid #003A79;
}

.accordion {
  border-top: none;
}

.accordion-answer .richtext img{
  padding:0 0 20px 15px;
}
@media(max-width: 576px){
  .accordion-question-wrapper .accordion-btn:before,
  .accordion-question-wrapper.is-active .accordion-btn:before {
    height: 20px;
    width: 20px;
  }
}
.accordion .richtext ul li {
  list-style: disc;
  list-style-position: inside;
}
.accordion .richtext ol {
  padding-left:0;
}
.accordion .richtext ol li {
  list-style: decimal;
  list-style-position: inside;
  padding-left:0;
}
.accordion-answer .richtext span,
.accordion-answer .richtext p{
  color: #003A79 !important;
}
