.theme-form-silver {
  .hs-form {
    .hs-button{
    @apply bg-peach text-blue border-2 border-blue transition-colors duration-300;
    &:hover{
      @apply bg-blue text-white;
    }
    }
    input,textarea{
      @apply text-blue bg-transparent border border-blue;
      &:focus{
        border-width: 2px !important;
        color: #003A79 !important;
      }
    }
    textarea::placeholder,input::placeholder{
      @apply text-blue;
    }
    select{
      @apply bg-transparent text-blue border border-blue;
    }
    .hs-error-msgs{
      color: red;
    }
  }
}
.theme-form-blue{
  .hs-form {
    .hs-button{
      @apply bg-peach text-blue border-2 border-blue transition-colors duration-300;
      &:hover{
        @apply bg-white text-blue;
      }
    }
    input,textarea{
      @apply text-white bg-transparent border border-white;
      &:focus{
        border-width: 2px !important;
        color: #FFFFFF !important;
      }
    }
    textarea::placeholder,input::placeholder{
      @apply text-white
    }
    select{
      @apply bg-transparent text-white border border-white;
    }
    .hs-error-msgs{
      @apply text-white;
    }
  }
}
.theme-form-navy{
  .hs-form {
    .hs-button{
      @apply bg-transparent text-peach border-2 border-peach transition-colors duration-300;
      &:hover{
        @apply bg-peach text-blue;
      }
    }
    input,textarea{
      @apply text-white bg-transparent border border-white;
      &:focus{
        border-width: 2px !important;
        color: #FFFFFF !important;
      }
    }
    textarea::placeholder,input::placeholder{
      @apply text-white
    }
    select{
      @apply bg-transparent text-white border border-white;
    }
    .hs-error-msgs{
      @apply text-white;
    }
  }
}
.theme-form-blue .hs-form .hs-form-field label,
.theme-form-navy .hs-form .hs-form-field label{
  color:#FFFFFF;
}

.theme-form-silver .hs-form .hs-form-field label{
  color:#003A79;
}

.theme-form-blue .hs-form .legal-consent-container ,
.theme-form-navy .hs-form .legal-consent-container,
.theme-form-blue .hs-form .hs-form-field .hs-field-desc,
.theme-form-navy .hs-form .hs-form-field .hs-field-desc{
  color: #FFFFFF;
}
.theme-form-silver .hs-form .legal-consent-container,
.theme-form-silver .hs-form .hs-form-field .hs-field-desc{
  color: #003A79;
}
.hs-form .hs-form-field .hs-field-desc{
  font-size: 12px;
  margin: 0px 0px 3px 0px;
  line-height: 20px;
}
.hs-form .hs-form-booleancheckbox-display input + span:after{
  background: #FFFFFF;
}
.theme-form-silver .hs-form .hs-form-checkbox-display input+span:after {
  background-color: #003A79;
  background-image:unset;
}
.hs-error-msg{
  color:#FF0000!important;
}
