.newsletter-cta-form input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]), .newsletter-cta-form select{
  border: 1px solid #003A79;
  color: #003A79;
  font-size: 14px;
}
.newsletter-cta-form input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]):focus, .newsletter-cta-form select:focus{
  border-width: 2px;
}
.newsletter-cta-form input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]), .newsletter-cta-form select{
  border: 1px solid #003A79;
  color: #003A79;
  font-size: 14px;
}
.newsletter-cta-form input::placeholder, .newsletter-cta-form textarea::placeholder,
.newsletter-cta-form select::placeholder{
  color: #003A79;
}
.newsletter-cta-form form .hs-button,
.newsletter-cta-form form input[type=submit]{
  font-size: 16px;
  width: 100%;
  background: #FFA064;
  color: #003A79;
  border: 2px solid #003A79;
}
