.partner-companies{
  transition: .5s;
}

.is-loading,
.disabled{
  filter: grayscale(1);
  opacity: 0.2;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 4px solid #003a79;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

.loader::after{
  opacity: 0;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.dropdown-shadow{
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
}
