.h-572{
  max-height:530px;
  max-width:350px;
}
.text-large{
  font-size:56px;
  line-height:72px;
}

@media screen and (min-width: 1024px)  {
  .text-large{
    font-size:216px;
    line-height:92px;
  }

  .slick-next {
    right: 50px;
  }

  .slick-prev {
    left: 50px;
  }
  .slick-next, .slick-prev{
    top:50%;
    height:60px;
    width:30px;
  }

  .quotation-slider .slick-next:before, .quotation-slider .slick-prev:before {
    font-size: 50px;
    line-height: 1;
    color: #E6E1DC;
  }
}
