.tab-link{
  &.active{
    @apply pointer-events-none border-b-8 border-blue text-blue relative;
  }
}
.tab-content{
  @apply hidden translate-y-4;
  animation: fadeIn 0.3s ease 1 forwards;
  &.active{
    @apply block;
  }
}
.tab-link.active:after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #003a79;
  content: "";
  bottom: -20px;
  @apply left-1/2 absolute transform -translate-x-1/2;
}
