.bottom-triangle{
  transform: skewX(-45deg);
}
.top-triangle{
  display:none;
}


@media screen and (min-width: 600px)  {
  .study-card{
    padding-top: 50px;
  }
  .study-card > div:nth-child(odd){
    transform: translateY(-50px);
  }
}
@media screen and (max-width: 600px){
  .top-triangle{
    display:block;
    transform: skewY(135deg);
  }
}



.slick-dotted.slick-slider .slick-dots {
  bottom: -40px;
}

.study-card .slick-next, .study-card .slick-prev{
  top:unset;
  bottom:-46px;
}
.study-card .slick-arrow.slick-next:before {
  background-image: url(https://8530121.fs1.hubspotusercontent-na1.net/hubfs/8530121/right-arrow-svg.svg);
}
.study-card .slick-arrow.slick-prev:before {
  background-image: url(https://8530121.fs1.hubspotusercontent-na1.net/hubfs/8530121/left-arrow-svg.svg);
}

.study-card .slick-arrow.slick-next {
  right: 20px;
}
.study-card .slick-arrow.slick-prev {
  left: 20px;
}
.link-btn .right-arrow{
  opacity:0;
  transition: opacity 0.5s ease-in-out;
}
.link-btn:hover .right-arrow{
  opacity:1;
}
.study-card .btn-white a:hover {
  border-color: #ffffff!important;
}
