.traingle-image-top-right{
  position: static;
  width: calc(8.33% * 12);
}
.traingle-image-top-right .shape-inner,
.traingle-image-top-left .shape-inner{
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
@media(min-width:768px){
  .traingle-image-top-right-l{
    position: absolute;
    width: calc(8.33% * 4);
  }
  .traingle-image-top-right-m{
    position: absolute;
    width: calc(8.33% * 3);
  }
  .traingle-image-top-left{
    left: 0;
    top: 0;
  }
  .traingle-image-top-right{
    right: 0;
    top: 0;
  }
}
