.video-shape-inner{
  padding-top: 56.25%;
  width: 100%;
}
.video-shape-scale .video-shape-inner{
  clip-path: polygon(0 0,100% 0,100% 50%,65% 100%,0 100%,0 50%);
}
.video-shape-scale{
  width: calc(8.33% * 12);
  position: static;
  left: 0;
  top: 0;
}


.video-shape-scale .play-btn{
  transition: all 0.5s ease-in-out;
}
.video-shape-scale:hover .play-btn{
  color:#003A79;
  background:#FFFFFF;
}

.video-shape-scale .play-btn-text{
  opacity:0;
  transition: all 0.5s ease-in-out;
}

.video-shape-scale:hover .play-btn-text{
  opacity:1;
}
.backdrop-blue{
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.video-shape-scale:hover .backdrop-blue{
  opacity:1;
  background:linear-gradient(0deg, rgba(0, 58, 121, 0.29), rgba(0, 58, 121, 0.29));
}
@media(min-width:768px){
  .video-shape-scale .video-shape-inner{
    clip-path: polygon(0 0,100% 0,0 100%);
  }
  .video-shape-scale{
    width: calc(8.33% * 6)
  }
  .video-shape-inner{
    padding-top: 100%;
  }
  .video-shape-scale{
    position: absolute;
  }
}
