@charset "UTF-8";

.form-title {
  display: none;
}

.form-white .hs-button {
  background-color: #FFFFFF;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

.form-white .hs-input {
  background-color: #003A79;
  text-align: center;
}

.form-white .hs-input::-moz-placeholder{
  --tw-placeholder-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-placeholder-opacity));
}

.form-white .hs-input::placeholder{
  --tw-placeholder-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-placeholder-opacity));
}

.filter-white .text-white.form-white .hs-input {
  color: #FFFFFF;
  background: #3CD2FF;
}

.quotation-slider .form-white .hs-input .btn-orange a:hover {
  background: #FFFFFF;
  border-color: #003a79;
  color: #003a79;
}

.form-white .hs-input .tab-link.active, .bg-navy .tab-link.active {
  border-color: #FFA064;
  color: #FFA064;
}

.form-white .hs-input .tab-link.active:after, .bg-navy .tab-link.active:after {
  border-top: 15px solid #ffa064;
}

.filter-white .text-white.form-white .hs-input {
  color: #FFFFFF;
  background: #3CD2FF;
}

.form-white .hs-input{
  border-width: 2px !important;
  border-color: white !important;
}

.form-white .hs-form .hs-form-booleancheckbox-display input + span:before, .form-white .hs-form .hs-form-booleancheckbox-display input + span:after {
  border-color: white;
}

.form-white .hs-form .hs-form-booleancheckbox-display input + span:after {
  background-color: white;
}

.form-white .hs-richtext {
  color: white;
}

.form-white .hs-form-booleancheckbox {
  color: white;
}

.form-white .hs-form .hs-error-msgs {
  color: #E50030;
  font-weight: lighter;
}

.form-white input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]).invalid, .form-white select.invalid {
  border-color: red;
}

.form-white input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]):focus, .form-white select:focus {
  border-color: #FFFFFF;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.filter-white .form-white input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]):focus.bg-blue, .filter-white .form-white select:focus.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
  color: #FFFFFF;
  background: #3CD2FF;
}

.hs-form .hs_error_rollup {
  display: none;
}

.hs-form fieldset {
  max-width: auto !important;
  max-width: unset !important;
  margin-left: -0.75rem !important;
  margin-right: -0.75rem !important;
}

.hs-form fieldset .input {
  margin-right: 0 !important;
}

.hs-form fieldset .hs-input {
  width: 100% !important;
}

.hs-form .hs-form-field {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hs-form .hs-form-field label {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.hs-form .hs-form-field:not(.hs-fieldtype-select):not(.hs-fieldtype-checkbox):not(.hs-fieldtype-radio) > label {
  display: none;
}

@media (min-width: 768px) {
  .hs-form .form-columns-3 .hs-form-field {
    width: 33.33% !important;
  }
}

.hs-form .input .inputs-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.hs-form .input .inputs-list .hs-form-checkbox {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hs-form .inputs-list.multi-container li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.hs-form .hs-field-desc {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.hs-form .hs-form-checkbox-display {
  position: relative;
}

.hs-form .hs-form-checkbox-display input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.hs-form .hs-form-checkbox-display input + span {
  position: relative;
  margin-left: 0px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 14px;
  line-height: 1.65;
}

.hs-form .hs-form-checkbox-display input + span:before, .hs-form .hs-form-checkbox-display input + span:after {
  position: absolute;
  left: 0px;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  border-color: "#003A79";
  content: "";
  top: 1.5px;
}

.hs-form .hs-form-checkbox-display input + span:after {
  transform: scale(0);
  border-color: #003A79;
  background-color: #003A79;
}

.filter-white .text-white.hs-form .hs-form-checkbox-display input + span:after {
  color: #FFFFFF;
  background: #3CD2FF;
}

.quotation-slider .hs-form .hs-form-checkbox-display input + span:after .btn-orange a:hover {
  background: #FFFFFF;
  border-color: #003a79;
  color: #003a79;
}

.hs-form .hs-form-checkbox-display input + span:after .tab-link.active, .bg-navy .tab-link.active {
  border-color: #FFA064;
  color: #FFA064;
}

.hs-form .hs-form-checkbox-display input + span:after .tab-link.active:after, .bg-navy .tab-link.active:after {
  border-top: 15px solid #ffa064;
}

.filter-white .text-white.hs-form .hs-form-checkbox-display input + span:after {
  color: #FFFFFF;
  background: #3CD2FF;
}

.hs-form .hs-form-checkbox-display input + span:after{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.hs-form .hs-form-checkbox-display input:checked + span:after {
  transform: scale(1);
}

.hs-form .input .inputs-list .hs-form-radio {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hs-form .hs-form-radio-display {
  position: relative;
}

.hs-form .hs-form-radio-display input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.hs-form .hs-form-radio-display input + span {
  position: relative;
  margin-left: 0px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 14px;
  line-height: 1.65;
}

.hs-form .hs-form-radio-display input + span:before, .hs-form .hs-form-radio-display input + span:after {
  position: absolute;
  left: 0px;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  border-color: "#003A79";
  content: "";
  top: 1.5px;
  border-radius: 9999px;
  top: 0;
}

.hs-form .hs-form-radio-display input + span:after {
  transform: scale(0);
  border-color: #003A79;
  background-color: #003A79;
}

.filter-white .text-white.hs-form .hs-form-radio-display input + span:after {
  color: #FFFFFF;
  background: #3CD2FF;
}

.quotation-slider .hs-form .hs-form-radio-display input + span:after .btn-orange a:hover {
  background: #FFFFFF;
  border-color: #003a79;
  color: #003a79;
}

.hs-form .hs-form-radio-display input + span:after .tab-link.active, .bg-navy .tab-link.active {
  border-color: #FFA064;
  color: #FFA064;
}

.hs-form .hs-form-radio-display input + span:after .tab-link.active:after, .bg-navy .tab-link.active:after {
  border-top: 15px solid #ffa064;
}

.filter-white .text-white.hs-form .hs-form-radio-display input + span:after {
  color: #FFFFFF;
  background: #3CD2FF;
}

.hs-form .hs-form-radio-display input + span:after{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.hs-form .hs-form-radio-display input:checked + span:after {
  transform: scale(1);
}

.hs-form .hs-form-radio-display input + span {
  line-height: 1.45;
}

.hs-form .hs-form-booleancheckbox-display {
  position: relative;
}

.hs-form .hs-form-booleancheckbox-display input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.hs-form .hs-form-booleancheckbox-display input + span {
  position: relative;
  margin-left: 0px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 14px;
  line-height: 1.65;
}

.hs-form .hs-form-booleancheckbox-display input + span:before, .hs-form .hs-form-booleancheckbox-display input + span:after {
  position: absolute;
  left: 0px;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  border-color: "#003A79";
  content: "";
  top: 1.5px;
}

.hs-form .hs-form-booleancheckbox-display input + span:after {
  transform: scale(0);
  border-color: #003A79;
  background-color: #003A79;
}

.filter-white .text-white.hs-form .hs-form-booleancheckbox-display input + span:after {
  color: #FFFFFF;
  background: #3CD2FF;
}

.quotation-slider .hs-form .hs-form-booleancheckbox-display input + span:after .btn-orange a:hover {
  background: #FFFFFF;
  border-color: #003a79;
  color: #003a79;
}

.hs-form .hs-form-booleancheckbox-display input + span:after .tab-link.active, .bg-navy .tab-link.active {
  border-color: #FFA064;
  color: #FFA064;
}

.hs-form .hs-form-booleancheckbox-display input + span:after .tab-link.active:after, .bg-navy .tab-link.active:after {
  border-top: 15px solid #ffa064;
}

.filter-white .text-white.hs-form .hs-form-booleancheckbox-display input + span:after {
  color: #FFFFFF;
  background: #3CD2FF;
}

.hs-form .hs-form-booleancheckbox-display input + span:after{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.hs-form .hs-form-booleancheckbox-display input:checked + span:after {
  transform: scale(1);
}

.hs-form .hs-button {
  padding: 10px 15px;
  border-radius: 28px;
  min-width: 200px;
  cursor: pointer;
}

.hs-form .legal-consent-container {
  margin-top: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: "#003A79";
}

.hs-form .legal-consent-container > div {
  margin-bottom: 1rem;
}

.hs-form .legal-consent-container .hs-form-field {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hs-form .hs-error-msgs {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 300;
}

.hs-form .hs-richtext, .hs-form .legal-consent-container {
  font-size: 0.75rem;
  line-height: 1rem;
}

.hs-form .hs-richtext {
  margin-bottom: 1rem;
}

.hs-form .hs-richtext a:hover {
  text-decoration: underline;
}

.hs-form .actions {
  margin-top: 0.25rem;
}

.hs_error_rollup {
  margin-bottom: 0.25rem;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]), select {
  height: 50px;
  border-radius: 28px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-color: "#003A79";
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]).invalid, select.invalid {
  border-color: red;
}

textarea {
  height: 50px;
  border-radius: 28px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-color: "#003A79";
  border-radius: 20px;
  min-height: 100px;
}

textarea:focus {
  border-color: #003A79;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-repeat: no-repeat;
  background-position: 96%;
  background-size: 14px;
  padding-right: 3rem !important;
}

textarea {
  display: block;
}

.custome-checkbox {
  position: relative;
}

.custome-checkbox input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.custome-checkbox input + span {
  position: relative;
  margin-left: 0px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 14px;
  line-height: 1.65;
}

.custome-checkbox input + span:before, .custome-checkbox input + span:after {
  position: absolute;
  left: 0px;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  border-color: "#003A79";
  content: "";
  top: 1.5px;
}

.custome-checkbox input + span:after {
  transform: scale(0);
  border-color: #003A79;
  background-color: #003A79;
}

.filter-white .text-white.custome-checkbox input + span:after {
  color: #FFFFFF;
  background: #3CD2FF;
}

.quotation-slider .custome-checkbox input + span:after .btn-orange a:hover {
  background: #FFFFFF;
  border-color: #003a79;
  color: #003a79;
}

.custome-checkbox input + span:after .tab-link.active, .bg-navy .tab-link.active {
  border-color: #FFA064;
  color: #FFA064;
}

.custome-checkbox input + span:after .tab-link.active:after, .bg-navy .tab-link.active:after {
  border-top: 15px solid #ffa064;
}

.filter-white .text-white.custome-checkbox input + span:after {
  color: #FFFFFF;
  background: #3CD2FF;
}

.custome-checkbox input + span:after{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.custome-checkbox input:checked + span:after {
  transform: scale(1);
}

.custome-checkbox input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.benifit-slider .slick-arrow.slick-prev {
  left: 15px;
}

.benifit-slider .slick-arrow.slick-next {
  right: 15px;
}

.white-arrow .slick-arrow.slick-prev:before,
.white-arrow .slick-arrow.slick-next:before {
  background-size: 24px;
}

.white-arrow .slick-arrow.slick-prev:before {
  background-image: url(https://8530121.fs1.hubspotusercontent-na1.net/hubfs/8530121/left-arrow-white.svg);
}

.white-arrow .slick-arrow.slick-next:before {
  background-image: url(https://8530121.fs1.hubspotusercontent-na1.net/hubfs/8530121/right-arrow-white.svg);
}

.blue-arrow .slick-dots li {
  background-color: #003a79;
  opacity: 0.15;
}

.blue-arrow .slick-dots li.slick-active {
  background-color: #003A79;
}

.richtext p, .richtext span,
.richtext a, .richtext ul, .richtext li {
  font-family: interstate, sans-serif !important;
}

.two-col-slider .slick-dots li, .three-col-slider .slick-dots li {
  background-color: #ffffff;
}

.two-col-slider .slick-dots li.slick-active, .three-col-slider .slick-dots li.slick-active {
  background-color: #ffffff;
  opacity: 1;
}

.counter-slider .slick-dots li.slick-active {
  opacity: 1;
}

.counter-slider .slick-next {
  right: -25px;
}

.counter-slider .slick-prev {
  left: -25px;
}

.social-list a:hover {
  border-bottom: 4px solid #003A79;
}

.filter-white .social-list a:hover {
  border-bottom: 4px solid #FFFFFF;
}

.filter-white .text-white.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
}

.filter-white .cyan-filter:hover {
  color: #FFFFFF;
  background: #3CD2FF;
}

.filter-white .btn-blue-outline a {
  background: #FFFFFF;
  color: #003A79;
  border: 1px solid transparent;
}

.filter-white .btn-blue-outline a:hover {
  color: #FFFFFF;
  background: #003A79;
  border: 1px solid #FFFFFF;
}

.max-w-facts {
  max-width: 1120px;
  width: 100%;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}

.accordion-question-wrapper.is-active .accordion-btn:before,
.accordion-question-wrapper .accordion-btn:before {
  content: "";
  position: absolute;
  inset: 0;
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.accordion {
  border-top: 1px solid #e6e1dc;
  border-bottom: 1px solid #e6e1dc;
}

.accordion .accordion-question-wrapper:not(:last-child) {
  border-bottom: 1px solid #e6e1dc;
}

.bg-silver-light .accordion .accordion-question-wrapper,
.bg-silver .accordion .accordion-question-wrapper {
  border-bottom: 1px solid #003A79;
}

.accordion {
  border-top: none;
}

.accordion-answer .richtext img {
  padding: 0 0 20px 15px;
}

@media (max-width: 576px) {
  .accordion-question-wrapper .accordion-btn:before,
.accordion-question-wrapper.is-active .accordion-btn:before {
    height: 20px;
    width: 20px;
  }
}

.accordion .richtext ul li {
  list-style: disc;
  list-style-position: inside;
}

.accordion .richtext ol {
  padding-left: 0;
}

.accordion .richtext ol li {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 0;
}

.accordion-answer .richtext span,
.accordion-answer .richtext p {
  color: #003A79 !important;
}

.dropshadow {
  transition: all 0.5s ease-in-out;
}

.dropshadow:hover {
  box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.25);
}

.overlay-teaser-events {
  background: linear-gradient(#003a79 0%, #003A79 100%);
}

.grayscale-img {
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

.grayscale-img:hover {
  filter: grayscale(0%);
}

.footer-link a::after {
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 2L13 10' stroke='%23FFA064' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 18L13 10' stroke='%23FFA064' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  height: 10px;
  margin: 0px 5px 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 22px;
  position: absolute;
  top: 4px;
}

.footer-link a:hover:after {
  opacity: 1;
}

.theme-form-silver .hs-form .hs-button {
  border-width: 2px;
  border-color: #003A79;
  background-color: #FFA064;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
}

.theme-form-silver .hs-form .hs-button:hover {
  background-color: #003A79;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.filter-white .theme-form-silver .hs-form .hs-button:hover.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
}

.filter-white .text-white.theme-form-silver .hs-form .hs-button:hover {
  color: #FFFFFF;
  background: #3CD2FF;
}

.quotation-slider .theme-form-silver .hs-form .hs-button:hover .btn-orange a:hover {
  background: #FFFFFF;
  border-color: #003a79;
  color: #003a79;
}

.theme-form-silver .hs-form .hs-button:hover .tab-link.active, .bg-navy .tab-link.active {
  border-color: #FFA064;
  color: #FFA064;
}

.theme-form-silver .hs-form .hs-button:hover .tab-link.active:after, .bg-navy .tab-link.active:after {
  border-top: 15px solid #ffa064;
}

.filter-white .theme-form-silver .hs-form .hs-button:hover.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
}

.filter-white .text-white.theme-form-silver .hs-form .hs-button:hover {
  color: #FFFFFF;
  background: #3CD2FF;
}

.theme-form-silver .hs-form input, .theme-form-silver .hs-form textarea {
  border-width: 1px;
  border-color: #003A79;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

.theme-form-silver .hs-form input:focus, .theme-form-silver .hs-form textarea:focus {
  border-width: 2px !important;
  color: #003A79 !important;
}

.theme-form-silver .hs-form textarea::-moz-placeholder, .theme-form-silver .hs-form input::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

.theme-form-silver .hs-form textarea::placeholder, .theme-form-silver .hs-form input::placeholder {
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

.theme-form-silver .hs-form select {
  border-width: 1px;
  border-color: #003A79;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

.theme-form-silver .hs-form .hs-error-msgs {
  color: red;
}

.theme-form-blue .hs-form .hs-button {
  border-width: 2px;
  border-color: #003A79;
  background-color: #FFA064;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
}

.theme-form-blue .hs-form .hs-button:hover {
  background-color: #FFFFFF;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

.theme-form-blue .hs-form input, .theme-form-blue .hs-form textarea {
  border-width: 1px;
  border-color: #FFFFFF;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.filter-white .theme-form-blue .hs-form input.bg-blue, .filter-white .theme-form-blue .hs-form textarea.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
  color: #FFFFFF;
  background: #3CD2FF;
}

.theme-form-blue .hs-form input:focus, .theme-form-blue .hs-form textarea:focus {
  border-width: 2px !important;
  color: #FFFFFF !important;
}

.theme-form-blue .hs-form textarea::-moz-placeholder, .theme-form-blue .hs-form input::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.theme-form-blue .hs-form textarea::placeholder, .theme-form-blue .hs-form input::placeholder {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.filter-white .theme-form-blue .hs-form textarea::-moz-placeholder.bg-blue, .filter-white .theme-form-blue .hs-form input::-moz-placeholder.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
  color: #FFFFFF;
  background: #3CD2FF;
}

.filter-white .theme-form-blue .hs-form textarea::placeholder.bg-blue, .filter-white .theme-form-blue .hs-form input::placeholder.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
  color: #FFFFFF;
  background: #3CD2FF;
}

.theme-form-blue .hs-form select {
  border-width: 1px;
  border-color: #FFFFFF;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.filter-white .theme-form-blue .hs-form select.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
  color: #FFFFFF;
  background: #3CD2FF;
}

.theme-form-blue .hs-form .hs-error-msgs {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.filter-white .theme-form-blue .hs-form .hs-error-msgs.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
  color: #FFFFFF;
  background: #3CD2FF;
}

.theme-form-navy .hs-form .hs-button {
  border-width: 2px;
  border-color: #FFA064;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(255, 160, 100, var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
}

.theme-form-navy .hs-form .hs-button:hover {
  background-color: #FFA064;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

.theme-form-navy .hs-form input, .theme-form-navy .hs-form textarea {
  border-width: 1px;
  border-color: #FFFFFF;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.filter-white .theme-form-navy .hs-form input.bg-blue, .filter-white .theme-form-navy .hs-form textarea.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
  color: #FFFFFF;
  background: #3CD2FF;
}

.theme-form-navy .hs-form input:focus, .theme-form-navy .hs-form textarea:focus {
  border-width: 2px !important;
  color: #FFFFFF !important;
}

.theme-form-navy .hs-form textarea::-moz-placeholder, .theme-form-navy .hs-form input::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.theme-form-navy .hs-form textarea::placeholder, .theme-form-navy .hs-form input::placeholder {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.filter-white .theme-form-navy .hs-form textarea::-moz-placeholder.bg-blue, .filter-white .theme-form-navy .hs-form input::-moz-placeholder.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
  color: #FFFFFF;
  background: #3CD2FF;
}

.filter-white .theme-form-navy .hs-form textarea::placeholder.bg-blue, .filter-white .theme-form-navy .hs-form input::placeholder.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
  color: #FFFFFF;
  background: #3CD2FF;
}

.theme-form-navy .hs-form select {
  border-width: 1px;
  border-color: #FFFFFF;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.filter-white .theme-form-navy .hs-form select.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
  color: #FFFFFF;
  background: #3CD2FF;
}

.theme-form-navy .hs-form .hs-error-msgs {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.filter-white .theme-form-navy .hs-form .hs-error-msgs.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
  color: #FFFFFF;
  background: #3CD2FF;
}

.theme-form-blue .hs-form .hs-form-field label,
.theme-form-navy .hs-form .hs-form-field label {
  color: #FFFFFF;
}

.theme-form-silver .hs-form .hs-form-field label {
  color: #003A79;
}

.theme-form-blue .hs-form .legal-consent-container,
.theme-form-navy .hs-form .legal-consent-container,
.theme-form-blue .hs-form .hs-form-field .hs-field-desc,
.theme-form-navy .hs-form .hs-form-field .hs-field-desc {
  color: #FFFFFF;
}

.theme-form-silver .hs-form .legal-consent-container,
.theme-form-silver .hs-form .hs-form-field .hs-field-desc {
  color: #003A79;
}

.hs-form .hs-form-field .hs-field-desc {
  font-size: 12px;
  margin: 0px 0px 3px 0px;
  line-height: 20px;
}

.hs-form .hs-form-booleancheckbox-display input + span:after {
  background: #FFFFFF;
}

.theme-form-silver .hs-form .hs-form-checkbox-display input + span:after {
  background-color: #003A79;
  background-image: unset;
}

.hs-error-msg {
  color: #FF0000 !important;
}

.m-top-shape-scale {
  width: 99.96%;
}

.m-bottom-shape-scale {
  width: 166.6%;
}

@media (min-width: 768px) {
  .m-top-shape-scale {
    width: 33.32%;
  }

  .m-bottom-shape-scale {
    width: 74.97%;
  }
}

.m-top-shape-scale {
  width: 99.96%;
}

.m-bottom-shape-scale {
  width: 166.6%;
}

@media (min-width: 768px) {
  .m-top-shape-scale {
    width: 33.32%;
  }

  .m-bottom-shape-scale {
    width: 74.97%;
  }
}

.m-top-shape-scale {
  width: 99.96%;
}

.m-bottom-shape-scale {
  width: 166.6%;
}

@media (min-width: 768px) {
  .m-top-shape-scale {
    width: 33.32%;
  }

  .m-bottom-shape-scale {
    width: 74.97%;
  }
}

.job-detail-social-media svg {
  width: 26px;
  height: 26px;
  fill: currentColor;
}

.newsletter-cta-form input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]), .newsletter-cta-form select {
  border: 1px solid #003A79;
  color: #003A79;
  font-size: 14px;
}

.newsletter-cta-form input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]):focus, .newsletter-cta-form select:focus,
.newsletter-cta-form .hs-form textarea:focus {
  outline: 2px solid #003A79;
}

.newsletter-cta-form input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]), .newsletter-cta-form select,
.newsletter-cta-form .hs-form textarea {
  border: 1px solid #003A79;
  color: #003A79;
  font-size: 14px;
  outline: 2px solid transparent;
  transition: outline 0.3s ease-in-out;
}

.newsletter-cta-form input::-moz-placeholder, .newsletter-cta-form textarea::-moz-placeholder, .newsletter-cta-form select::-moz-placeholder {
  color: #003A79;
}

.newsletter-cta-form input::placeholder, .newsletter-cta-form textarea::placeholder,
.newsletter-cta-form select::placeholder {
  color: #003A79;
}

.newsletter-cta-form form .hs-button,
.newsletter-cta-form form input[type=submit] {
  font-size: 16px;
  width: 100%;
  background: #FFA064;
  color: #003A79;
  border: 2px solid #003A79;
  transition: all 0.3s ease-in-out;
}

.newsletter-cta-form form .hs-button:hover,
.newsletter-cta-form form input[type=submit]:hover {
  font-size: 16px;
  width: 100%;
  background: #003A79;
  color: #FFF;
  border: 2px solid #003A79;
}

.newsletter-cta-form .hs-error-msgs li {
  text-align: left;
  margin-left: 16px;
  margin-top: 2px;
}

.five-col-slider .slick-next:before, .five-col-slider .slick-prev:before {
  color: #3C3C43;
  opacity: 0.3;
  font-size: 40px;
}

.five-col-slider .slick-next {
  right: -20px;
}

.five-col-slider .slick-prev {
  left: -20px;
}

.five-col-slider .slick-dots li {
  background-color: #003A79;
  height: 5px;
  width: 33px;
  border-radius: 36px;
}

.max-w-logo {
  max-width: 120px;
  width: 100%;
}

.five-col-slider .slick-arrow.slick-prev:before {
  opacity: 1;
  background-image: url(https://8530121.fs1.hubspotusercontent-na1.net/hubfs/8530121/left-arrow-svg.svg);
}

.five-col-slider .slick-arrow.slick-next:before {
  opacity: 1;
  background-image: url(https://8530121.fs1.hubspotusercontent-na1.net/hubfs/8530121/right-arrow-svg.svg);
}

@media screen and (min-width: 1024px) {
  .card {
    transition: all 0.3s ease-in-out;
  }

  .card:hover {
    box-shadow: 0px 9px 20px 0px rgba(0, 58, 121, 0.13);
    transition: 0.3s ease-in-out;
    transform: translateY(-20px);
  }

  .learn-more {
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out;
  }

  .card:hover .learn-more {
    opacity: 1;
  }
}

.partner-companies {
  transition: 0.5s;
}

.is-loading,
.disabled {
  filter: grayscale(1);
  opacity: 0.2;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 4px solid #003a79;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: animloader 2s linear infinite;
          animation: animloader 2s linear infinite;
}

.loader::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loader::after {
  opacity: 0;
}

@-webkit-keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.dropdown-shadow {
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
}

.h-572 {
  max-height: 530px;
  max-width: 350px;
}

.text-large {
  font-size: 56px;
  line-height: 72px;
}

@media screen and (min-width: 1024px) {
  .text-large {
    font-size: 216px;
    line-height: 92px;
  }

  .slick-next {
    right: 50px;
  }

  .slick-prev {
    left: 50px;
  }

  .slick-next, .slick-prev {
    top: 50%;
    height: 60px;
    width: 30px;
  }

  .quotation-slider .slick-next:before, .quotation-slider .slick-prev:before {
    font-size: 50px;
    line-height: 1;
    color: #E6E1DC;
  }
}

/* Form Blue CSS */

.reporting-form-blue input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]), .reporting-form select {
  background: transparent;
  border: 1px solid white;
  font-size: 16px;
}

.reporting-form-blue input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]):focus,
.reporting-form-blue input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]):focus::-webkit-input-placeholder {
  background: white;
  color: #003A79;
}

.reporting-form-blue .hs-form textarea {
  min-height: 145px;
  background: transparent;
  border: 1px solid white;
  font-size: 16px;
}

.reporting-form-blue .hs-form textarea:focus,
.reporting-form-blue input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]):focus {
  border: 2px solid #0F192D;
}

.reporting-form-blue .hs-form textarea:focus,
.reporting-form-blue .hs-form textarea:focus::-webkit-input-placeholder {
  background: white;
  color: #003A79;
}

.reporting-form-blue .hs-error-msg {
  color: white;
  font-size: 12px !important;
}

.reporting-form-blue input::-webkit-input-placeholder,
.reporting-form-blue textarea::-webkit-input-placeholder {
  color: white;
}

.reporting-form-blue .hs-button {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.reporting-form-blue .hs-button:hover {
  background: #ffffff;
  color: #003A79;
}

/* Form White CSS */

.reporting-form-white input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]), .reporting-form select {
  background: transparent;
  border: 1px solid #003A79;
  font-size: 16px;
}

.reporting-form-white .hs-form textarea {
  min-height: 145px;
  background: transparent;
  border: 1px solid #003A79;
  font-size: 16px;
}

.reporting-form-white .hs-form textarea:focus,
.reporting-form-white input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]):focus {
  border: 2px solid #003A79;
}

.reporting-form-white .hs-error-msg {
  color: #003A79;
  font-size: 12px !important;
}

.reporting-form-white input::-webkit-input-placeholder,
.reporting-form-white textarea::-webkit-input-placeholder {
  color: #003A79;
}

.reporting-form-white .hs-button {
  background: #FFA064;
  border: 2px solid #003A79;
  color: #003A79;
  font-size: 16px;
  padding: 10px 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.reporting-form-white .hs-button:hover {
  background: #003A79;
  color: #FFFFFF;
}

.h-572 {
  max-height: 530px;
  max-width: 350px;
}

.text-large {
  font-size: 56px;
  line-height: 72px;
}

@media screen and (min-width: 1024px) {
  .text-large {
    font-size: 216px;
    line-height: 92px;
  }

  .slick-next {
    right: 50px;
  }

  .slick-prev {
    left: 50px;
  }

  .slick-next, .slick-prev {
    top: 50%;
    height: 60px;
    width: 30px;
  }

  .quotation-slider .slick-next:before, .quotation-slider .slick-prev:before {
    font-size: 50px;
    line-height: 1;
    color: #E6E1DC;
  }
}

.testimonial-slider .slick-arrow.slick-prev:before {
  background-image: url(https://8530121.fs1.hubspotusercontent-na1.net/hubfs/8530121/Developer%20Assets/img-slider-left.svg);
}

.testimonial-slider .slick-arrow.slick-next:before {
  background-image: url(https://8530121.fs1.hubspotusercontent-na1.net/hubfs/8530121/Developer%20Assets/img-slider-right.svg);
}

.testimonial-slider .slick-arrow:before {
  background-size: 30px;
  height: 60px;
  width: 60px;
}

.quotation-slider .bg-blue .btn-orange a:hover {
  background: #FFFFFF;
  border-color: #003a79;
  color: #003a79;
}

.big_text {
  padding-left: 100%;
  -webkit-animation: text 10s linear infinite;
          animation: text 10s linear infinite;
}

@-webkit-keyframes text {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes text {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.quicklinks .btn a {
  min-width: 240px;
  text-align: left;
  justify-content: flex-start;
}

.modal-shape {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@media (min-width: 640px) {
  .modal-shape {
    -webkit-clip-path: polygon(100% 0%, -100% 100%, 100% 100%);
            clip-path: polygon(100% 0%, -100% 100%, 100% 100%);
  }
}

@media (min-width: 768px) {
  .modal-shape {
    -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  }
}

@media (min-width: 1024px) {
  .modal-shape {
    -webkit-clip-path: polygon(100% 16%, 26% 100%, 100% 100%);
            clip-path: polygon(100% 16%, 26% 100%, 100% 100%);
  }
}

.seminar .accordion-question-wrapper.is-active .accordion-question {
  border: unset;
}

.tab-link.active {
  pointer-events: none;
  position: relative;
  border-bottom-width: 8px;
  border-color: #003A79;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

.tab-content {
  display: none;
  --tw-translate-y: 1rem;
  -webkit-animation: fadeIn 0.3s ease 1 forwards;
          animation: fadeIn 0.3s ease 1 forwards;
}

.tab-content.active {
  display: block;
}

.tab-link.active:after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #003a79;
  content: "";
  bottom: -20px;
  position: absolute;
  left: 50%;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-x: -50%;
}

.bg-blue .tab-link.active, .bg-navy .tab-link.active {
  border-color: #FFA064;
  color: #FFA064;
}

.bg-blue .tab-link.active:after, .bg-navy .tab-link.active:after {
  border-top: 15px solid #ffa064;
}

.image_overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.image_overlay:hover {
  opacity: 1;
  background-color: rgba(0, 58, 121, 0.4);
  color: #003A79;
  z-index: 10;
}

.team-slider.two-col-slider .slick-dots li {
  background-color: #003A79;
  opacity: 0.2;
}

.team-slider.two-col-slider .slick-dots li.slick-active {
  background-color: #003A79;
  opacity: 1;
}

.social-list a:hover {
  border-bottom: 4px solid #003A79;
}

.filter-white .social-list a:hover {
  border-bottom: 4px solid #FFFFFF;
}

.filter-white .text-white.bg-blue {
  color: #FFFFFF;
  background: #3CD2FF;
}

.filter-white .cyan-filter:hover {
  color: #FFFFFF;
  background: #3CD2FF;
}

.filter-white .btn-blue-outline a {
  background: #FFFFFF;
  color: #003A79;
  border: 1px solid transparent;
}

.filter-white .btn-blue-outline a:hover {
  color: #FFFFFF;
  background: #003A79;
  border: 1px solid #FFFFFF;
}

.overlay-teaser-events {
  background: linear-gradient(#003a79 0%, #003A79 100%);
}

.studyformat-card > div:nth-child(odd) {
  transform: translateY(-40px);
}

.studyformat-card > div:nth-child(odd) .shape-color {
  background: #3CD2FF;
}

.studyformat-card > div:nth-child(even) .shape-color {
  background: #FFA064;
}

.studyformat-card > .slick-track > div:nth-child(odd) .shape-color {
  background: #3CD2FF;
}

.studyformat-card > .slick-track > div:nth-child(even) .shape-color {
  background: #FFA064;
}

.studyformat-slider .slick-dots {
  bottom: unset !important;
  top: -25px;
}

.studyformat-slider .slick-arrow {
  top: -10px;
}

.studyformat-slider .slick-arrow.slick-next {
  right: 25px;
}

.studyformat-slider .slick-arrow.slick-prev {
  left: 25px;
}

.studyformat-slider .slick-arrow.slick-next:before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='24' viewBox='0 0 14 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 21.7991L11.8995 11.8996' stroke='%23003A79' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2 2L11.8995 11.8995' stroke='%23003A79' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  opacity: 1;
}

.studyformat-slider .slick-arrow.slick-prev:before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='24' viewBox='0 0 14 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.7991L2.10051 11.8996' stroke='%23003A79' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 2L2.10051 11.8995' stroke='%23003A79' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  opacity: 1;
}

.headline::first-line {
  color: #fff;
}

.bottom-triangle {
  transform: skewX(-45deg);
}

.top-triangle {
  display: none;
}

@media screen and (min-width: 600px) {
  .study-card {
    padding-top: 50px;
  }

  .study-card > div:nth-child(odd) {
    transform: translateY(-50px);
  }
}

@media screen and (max-width: 600px) {
  .top-triangle {
    display: block;
    transform: skewY(135deg);
  }
}

.slick-dotted.slick-slider .slick-dots {
  bottom: -40px;
}

.study-card .slick-next, .study-card .slick-prev {
  top: unset;
  bottom: -46px;
}

.study-card .slick-arrow.slick-next:before {
  background-image: url(https://8530121.fs1.hubspotusercontent-na1.net/hubfs/8530121/right-arrow-svg.svg);
}

.study-card .slick-arrow.slick-prev:before {
  background-image: url(https://8530121.fs1.hubspotusercontent-na1.net/hubfs/8530121/left-arrow-svg.svg);
}

.study-card .slick-arrow.slick-next {
  right: 20px;
}

.study-card .slick-arrow.slick-prev {
  left: 20px;
}

.link-btn .right-arrow {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.link-btn:hover .right-arrow {
  opacity: 1;
}

.study-card .btn-white a:hover {
  border-color: #ffffff !important;
}

.bg_overlay {
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 58, 121, 0) 0%, rgba(0, 58, 121, 0.7) 100%);
  inset: 0;
}

.study-subpage-slider .slick-dots {
  bottom: unset !important;
  top: -25px;
}

.study-subpage-slider .slick-arrow {
  top: -10px;
}

.study-subpage-slider .slick-arrow.slick-next {
  right: 25px;
}

.study-subpage-slider .slick-arrow.slick-prev {
  left: 25px;
}

.study-subpage-slider .slick-arrow.slick-next:before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='24' viewBox='0 0 14 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 21.7991L11.8995 11.8996' stroke='%23003A79' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2 2L11.8995 11.8995' stroke='%23003A79' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  opacity: 1;
}

.study-subpage-slider .slick-arrow.slick-prev:before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='24' viewBox='0 0 14 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.7991L2.10051 11.8996' stroke='%23003A79' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 2L2.10051 11.8995' stroke='%23003A79' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  opacity: 1;
}

.traingle-image-top-right {
  position: static;
  width: 99.96%;
}

.traingle-image-top-right .shape-inner,
.traingle-image-top-left .shape-inner {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 100% 0);
}

@media (min-width: 768px) {
  .traingle-image-top-right-l {
    position: absolute;
    width: 33.32%;
  }

  .traingle-image-top-right-m {
    position: absolute;
    width: 24.99%;
  }

  .traingle-image-top-left {
    left: 0;
    top: 0;
  }

  .traingle-image-top-right {
    right: 0;
    top: 0;
  }
}

.year-title {
  font-size: 42px;
}

.slick-current.slick-active .year-title {
  font-size: 82px;
  opacity: 100%;
}

.-z-10 {
  z-index: -10;
}

.year-slider .slick-slide {
  border-top: 6px solid transparent;
}

.year-slider .slick-current {
  border-top: 6px solid #003A79;
}

@media (max-width: 1279px) {
  .slick-current.slick-active .year-title {
    font-size: 60px;
  }
}

@media (max-width: 1023px) {
  .slick-current.slick-active .year-title {
    font-size: 52px;
  }
}

@media (max-width: 767px) {
  .slick-current.slick-active .year-title {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .year-title {
    font-size: 24px;
  }

  .slick-current.slick-active .year-title {
    font-size: 24px;
  }
}

.video-shape-inner {
  padding-top: 56.25%;
  width: 100%;
}

.video-shape-scale .video-shape-inner {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 65% 100%, 0 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 65% 100%, 0 100%, 0 50%);
}

.video-shape-scale {
  width: 99.96%;
  position: static;
  left: 0;
  top: 0;
}

.video-shape-scale .play-btn {
  transition: all 0.5s ease-in-out;
}

.video-shape-scale:hover .play-btn {
  color: #003A79;
  background: #FFFFFF;
}

.video-shape-scale .play-btn-text {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.video-shape-scale:hover .play-btn-text {
  opacity: 1;
}

.backdrop-blue {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.video-shape-scale:hover .backdrop-blue {
  opacity: 1;
  background: linear-gradient(0deg, rgba(0, 58, 121, 0.29), rgba(0, 58, 121, 0.29));
}

@media (min-width: 768px) {
  .video-shape-scale .video-shape-inner {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%);
  }

  .video-shape-scale {
    width: 49.98%;
  }

  .video-shape-inner {
    padding-top: 100%;
  }

  .video-shape-scale {
    position: absolute;
  }
}

.video-inner-top-left {
  width: 100%;
  -webkit-clip-path: polygon(100% 0, 0 100%, 0 0);
          clip-path: polygon(100% 0, 0 100%, 0 0);
  padding-top: 100%;
}

.video-inner-bottom-right {
  width: 100%;
  -webkit-clip-path: polygon(100% 20%, 15% 100%, 100% 100%);
          clip-path: polygon(100% 20%, 15% 100%, 100% 100%);
  padding-top: 100%;
}

.content-img .play-btn {
  transition: all 0.5s ease-in-out;
}

.content-img:hover .play-btn {
  color: #003A79;
  background: #FFFFFF;
}

.content-img .play-btn-text {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.content-img:hover .play-btn-text {
  opacity: 1;
}

.backdrop-white {
  background: linear-gradient(0deg, rgba(0, 58, 121, 0.29), rgba(0, 58, 121, 0.29));
}

.video-top-left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.video-bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.content-img:hover .backdrop-white {
  opacity: 0.5;
}

.tab:not(.active) {
  display: none;
}

.accordion-toggle:before, .accordion-toggle:after {
  content: "";
  position: absolute;
  background-color: #003A79;
  transition: opacity 0.25s ease-out;
}

.accordion-toggle:before {
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  margin-left: -1px;
}

.accordion-toggle:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  margin-top: -1px;
}

.accordion-toggle:before {
  opacity: 1;
}

.is-opened .accordion-toggle:before {
  opacity: 0;
}

.team-detail-richtext > p {
  margin-bottom: 10px;
}

.team-detail-richtext b,
.team-detail-richtext strong {
  font-weight: 900;
  font-size: 21px;
  margin-bottom: 10px;
  display: block;
}

.input-shadow {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.btn-modal {
  padding: 10px 18px !important;
}

@media (min-width: 768px) {
  .btn-modal {
    padding: 23px 44px !important;
  }
}

.background-header-slider, .background-header-slider .slick-list, .background-header-slider .slick-track,
.background-header-slider .slick-slide, .background-header-slider .slick-slide div, .secondary-img-slider .slick-list, .secondary-img-slider .slick-track,
.secondary-img-slider .slick-slide, .secondary-img-slider .slick-slide div {
  height: 100%;
}

.bg-primary-shape {
  -webkit-clip-path: polygon(100% 22%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 22%, 0% 100%, 100% 100%);
}

.bg-msg-btn {
  -webkit-clip-path: polygon(100% 22%, 36% 100%, 100% 100%);
          clip-path: polygon(100% 22%, 36% 100%, 100% 100%);
}

.bg-secondary-shape {
  -webkit-clip-path: polygon(100% 67%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 67%, 0% 100%, 100% 100%);
}

.bg-responsive-shape {
  -webkit-clip-path: polygon(0% 50%, 100% 15%, 100% 100%, 0 100%);
          clip-path: polygon(0% 50%, 100% 15%, 100% 100%, 0 100%);
}

.h-hero {
  height: 100vh;
}

@media (min-width: 768px) {
  .bg-secondary-shape {
    -webkit-clip-path: polygon(100% 22%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 22%, 0% 100%, 100% 100%);
  }

  .h-hero {
    min-height: 850px;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .bg-primary-shape {
    -webkit-clip-path: polygon(100% 22%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 22%, 0% 100%, 100% 100%);
  }

  .bg-msg-btn {
    -webkit-clip-path: polygon(100% 22%, 22% 100%, 100% 100%);
            clip-path: polygon(100% 22%, 22% 100%, 100% 100%);
  }

  .h-hero {
    min-height: 1050px;
  }
}

@media (min-width: 1280px) {
  .h-hero {
    min-height: 100vh;
  }
}

.arrows {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 20px;
}

.arrows path {
  stroke: #003a79;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
  stroke-width: 4px;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -0.75s;
  -webkit-animation-delay: -0.75s;
  /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}

.rounded-tl-4xl {
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
}

.stream-dropdown-link.active,
.interested-dropdown-link.active {
  background-color: #003A79;
  color: #ffffff;
}

.shape-scale-l-desk {
  width: 99.96%;
}

.l-desk-bg-img {
  height: 360px;
}

@media (min-width: 500px) {
  .shape-scale-l-desk {
    width: 49.98%;
  }
}

@media (min-width: 768px) {
  .l-desk-bg-img {
    min-height: 680px;
    height: 100%;
  }
}

@media (min-width: 1023px) {
  .l-desk-bg-img {
    min-height: 850px;
    height: 100%;
  }

  .scroll-btn:hover .bg-white-overlay {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .scroll-btn {
    justify-content: space-between !important;
  }
}

.is-open {
  display: block;
}

.arrow-down {
  transform: rotate(180deg);
}

.sticky-filter {
  display: none;
}

@media screen and (min-width: 1024px) {
  .big-arrow .slick-next, .big-arrow .slick-prev {
    height: 25px;
  }
}

select {
  filter: unset;
}

.list {
  transition: all 0.3s ease-in-out;
}

.seminar .accordion-question-wrapper.is-active .accordion-question {
  border: unset;
}

.team-detail-richtext ul li {
  position: relative;
  padding-left: 17px;
}

.team-detail-richtext ul li:not(:last-child) {
  padding-bottom: 12px;
}

.team-detail-richtext ul li:before {
  background: #003a79;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 8px;
}

.two-col-richtext li {
  padding-left: 20px;
  position: relative;
}

.two-col-richtext li:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #003A79;
}

.hero-subpage-top-traingle {
  width: 91.63%;
}

@media (min-width: 1023px) {
  .hero-subpage-top-traingle {
    width: 83.3%;
  }
}

.study-card .slick-arrow.slick-next {
  right: 20px;
}

.study-card .slick-arrow.slick-prev {
  left: 20px;
}

.link-btn .right-arrow {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.link-btn:hover .right-arrow {
  opacity: 1;
}

.study-card .btn-white a:hover {
  border-color: #ffffff !important;
}

.marquee {
  display: flex;
  overflow: hidden;
  width: 100vw;
}

h1 {
  white-space: nowrap;
  align-self: center;
}
