.form-title {
  display: none;
}

.form-white .hs-button {
  background-color: #FFFFFF;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

.form-white .hs-input {
  background-color: #003A79;
  text-align: center;
}

.form-white .hs-input::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-placeholder-opacity));
}

.form-white .hs-input:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-placeholder-opacity));
}

.form-white .hs-input::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-placeholder-opacity));
}

.form-white .hs-input {
  border-width: 2px !important;
  border-color: white !important;
}

.form-white .hs-form .hs-form-booleancheckbox-display input + span:before, .form-white .hs-form .hs-form-booleancheckbox-display input + span:after {
  border-color: white;
}

.form-white .hs-form .hs-form-booleancheckbox-display input + span:after {
  background-color: white;
}

.form-white .hs-richtext {
  color: white;
}

.form-white .hs-form-booleancheckbox {
  color: white;
}

.form-white .hs-form .hs-error-msgs {
  color: #E50030;
  font-weight: lighter;
}

.form-white input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]).invalid, .form-white select.invalid {
  border-color: red;
}

.form-white input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]):focus, .form-white select:focus {
  border-color: #FFFFFF;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.hs-form fieldset {
  max-width: auto !important;
  max-width: unset !important;
  margin-left: -0.75rem !important;
  margin-right: -0.75rem !important;
}

.hs-form fieldset .input {
  margin-right: 0 !important;
}

.hs-form fieldset .hs-input {
  width: 100% !important;
}

.hs-form .hs-form-field {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hs-form .hs-form-field label {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.hs-form .hs-form-field:not(.hs-fieldtype-select):not(.hs-fieldtype-checkbox):not(.hs-fieldtype-radio) > label {
  display: none;
}

@media (min-width: 768px) {
  .hs-form .form-columns-3 .hs-form-field {
    width: 33.33% !important;
  }
}

.hs-form .input .inputs-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.hs-form .input .inputs-list .hs-form-checkbox {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hs-form .inputs-list.multi-container li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.hs-form .hs-field-desc {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.hs-form .hs-form-checkbox-display {
  position: relative;
}

.hs-form .hs-form-checkbox-display input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.hs-form .hs-form-checkbox-display input + span {
  position: relative;
  margin-left: 0px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 14px;
  line-height: 1.65;
}

.hs-form .hs-form-checkbox-display input + span:before, .hs-form .hs-form-checkbox-display input + span:after {
  position: absolute;
  left: 0px;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  border-color: "#003A79";
  content: "";
  top: 1.5px;
}

.hs-form .hs-form-checkbox-display input + span:after {
  transform: scale(0);
  border-color: #003A79;
  background-color: #003A79;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.hs-form .hs-form-checkbox-display input:checked + span:after {
  transform: scale(1);
}

.hs-form .input .inputs-list .hs-form-radio {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hs-form .hs-form-radio-display {
  position: relative;
}

.hs-form .hs-form-radio-display input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.hs-form .hs-form-radio-display input + span {
  position: relative;
  margin-left: 0px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 14px;
  line-height: 1.65;
}

.hs-form .hs-form-radio-display input + span:before, .hs-form .hs-form-radio-display input + span:after {
  position: absolute;
  left: 0px;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  border-color: "#003A79";
  content: "";
  top: 1.5px;
  border-radius: 9999px;
  top: 0;
}

.hs-form .hs-form-radio-display input + span:after {
  transform: scale(0);
  border-color: #003A79;
  background-color: #003A79;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.hs-form .hs-form-radio-display input:checked + span:after {
  transform: scale(1);
}

.hs-form .hs-form-radio-display input + span {
  line-height: 1.45;
}

.hs-form .hs-form-booleancheckbox-display {
  position: relative;
}

.hs-form .hs-form-booleancheckbox-display input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.hs-form .hs-form-booleancheckbox-display input + span {
  position: relative;
  margin-left: 0px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 14px;
  line-height: 1.65;
}

.hs-form .hs-form-booleancheckbox-display input + span:before, .hs-form .hs-form-booleancheckbox-display input + span:after {
  position: absolute;
  left: 0px;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  border-color: "#003A79";
  content: "";
  top: 1.5px;
}

.hs-form .hs-form-booleancheckbox-display input + span:after {
  transform: scale(0);
  border-color: #003A79;
  background-color: #003A79;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.hs-form .hs-form-booleancheckbox-display input:checked + span:after {
  transform: scale(1);
}

.hs-form .hs-button {
  min-width: 200px;
  cursor: pointer;
}

.hs-form .legal-consent-container {
  margin-top: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: "#003A79";
}

.hs-form .legal-consent-container > div {
  margin-bottom: 1rem;
}

.hs-form .legal-consent-container .hs-form-field {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hs-form .hs-error-msgs {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 300;
  color: red;
}

.hs-form .hs-richtext, .hs-form .legal-consent-container {
  font-size: 0.75rem;
  line-height: 1rem;
}

.hs-form .hs-richtext {
  margin-bottom: 1rem;
}

.hs-form .hs-richtext a:hover {
  text-decoration: underline;
}

.hs-form .actions {
  margin-top: 0.25rem;
}

.hs_error_rollup {
  margin-bottom: 0.25rem;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]), select {
  height: 50px;
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  border-color: "#003A79";
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]).invalid, select.invalid {
  border-color: red;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]):focus, select:focus {
  border-color: #003A79;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

textarea {
  height: 50px;
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  border-color: "#003A79";
  min-height: 100px;
}

textarea:focus {
  border-color: #003A79;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-repeat: no-repeat;
  background-position: 96%;
  background-size: 14px;
  padding-right: 3rem !important;
  filter: grayscale(100);
}

select:focus {
  filter: grayscale(0);
  border-color: #003A79;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

textarea {
  display: block;
}

.custome-checkbox {
  position: relative;
}

.custome-checkbox input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.custome-checkbox input + span {
  position: relative;
  margin-left: 0px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 14px;
  line-height: 1.65;
}

.custome-checkbox input + span:before, .custome-checkbox input + span:after {
  position: absolute;
  left: 0px;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  border-color: "#003A79";
  content: "";
  top: 1.5px;
}

.custome-checkbox input + span:after {
  transform: scale(0);
  border-color: #003A79;
  background-color: #003A79;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.custome-checkbox input:checked + span:after {
  transform: scale(1);
}

.custome-checkbox input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.tab-link.active {
  pointer-events: none;
  border-color: #003A79;
  --tw-text-opacity: 1;
  color: rgba(0, 58, 121, var(--tw-text-opacity));
}

.tab-content {
  display: none;
  --tw-translate-y: 1rem;
  -webkit-animation: fadeIn 0.3s ease 1 forwards;
          animation: fadeIn 0.3s ease 1 forwards;
}

.tab-content.active {
  display: block;
}

.accordion {
  border-top: 1px solid #e6e1dc;
  border-bottom: 1px solid #e6e1dc;
}

.accordion .accordion-question-wrapper:not(:last-child) {
  border-bottom: 1px solid #e6e1dc;
}
