@import "../config/mixins";

.form-title{
  @apply hidden;
}
.form-white{
  .hs-button{
    @apply bg-white text-blue;
  }
  .hs-input{
    @apply bg-blue text-center placeholder-white;
    border-width: 2px !important;
    border-color: white !important;
  }
  .hs-form .hs-form-booleancheckbox-display input+span:before, .hs-form .hs-form-booleancheckbox-display input+span:after{
    border-color: white;
  }
  .hs-form .hs-form-booleancheckbox-display input+span:after{
    background-color:white;
  }
  .hs-richtext{
    color: white;
  }
  .hs-form-booleancheckbox{
    color: white;
  }
  .hs-form .hs-error-msgs{
    color: #E50030;
    font-weight: lighter;
  }
  input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]), select{
    &.invalid{
      border-color:red;
    }
    &:focus{
      @apply border-white text-white;
    }
  }
}

.hs-form{
  .hs_error_rollup{
    @apply hidden;
  }
  fieldset{
    max-width:auto!important;
    max-width:unset!important;
    margin-left: -.75rem!important;
    margin-right: -.75rem!important;
    .input{
      margin-right: 0!important;
    }
    .hs-input{
      width: 100%!important;
    }
  }
  .hs-form-field{
    @apply mb-4 px-2;
    label{
      @apply text-sm mb-1 mt-2;
    }
    &:not(.hs-fieldtype-select):not(.hs-fieldtype-checkbox):not(.hs-fieldtype-radio){
      > label{
        @apply hidden;
      }
    }
  }
  .form-columns-3{
    .hs-form-field{
      @screen md{
        width:33.33%!important;
      }
    }
  }
  .input .inputs-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    .hs-form-checkbox{
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  .inputs-list.multi-container li{
    @apply my-1;
  }
  .hs-field-desc{
    @apply mb-1 mt-4;
  }
  .hs-form-checkbox-display{
    @include checkbox();
  }
  .input .inputs-list{
    .hs-form-radio{
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .hs-form-radio-display{
    @include checkbox($radio:true);
    input + span{
      line-height: 1.45;
    }
  }
  .hs-form-booleancheckbox-display{
    @include checkbox();
  }
  .hs-button{
    padding: 10px 15px;
    border-radius: 28px;
    min-width: 200px;
    @apply cursor-pointer;
  }
  .legal-consent-container{
    @apply px-3 mt-2;
    color: $input-border-color;
    >div{
      @apply mb-4;
    }
    .hs-form-field{
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }
  .hs-error-msgs{
    @apply text-xs font-light;
  }
  .hs-richtext, .legal-consent-container{
    @apply text-xs;
  }
  .hs-richtext{
    @apply mb-4;
    a{
      &:hover{
        @apply underline;
      }
    }
  }
  .actions{
    @apply mt-1;
  }
}

.hs_error_rollup{
  @apply mb-1;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=button]), select{
  @include input;
  &.invalid{
    border-color:red;
  }
}
textarea{
  @include input;
  border-radius: 20px;
  min-height: 100px;
  &:focus{
    @apply border-blue text-blue;
  }
}

select{
  appearance: none;
  // background-image: url('#{$icon-path}/down.png');
  //background-position: right center;
  background-repeat: no-repeat;
  background-position:96%;
  background-size: 14px;
  padding-right: 3rem!important;
  filter: grayscale(100);
}

textarea{
  @apply block;
}

.custome-checkbox{
  @include checkbox();
  input[type=checkbox]{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    right:0;
  }
}
