<section class="{% if module.module_settings.spacing.remove_top_space %} pt-0 {% endif %} {% if module.module_settings.spacing.remove_bottom_space %} pb-0 {% endif %}" style="{% if module.module_settings.spacing.remove_top_space %}padding-top:{{ module.module_settings.spacing.custom_top_spacing ~ 'px' }};{% endif %} {% if module.module_settings.spacing.remove_bottom_space %} padding-bottom:{{ module.module_settings.spacing.custom_bottom_spacing ~ 'px' }}{% endif %}" {% if module.module_settings.module_name %}id="{{ module.module_settings.module_name }}"{% endif %}>
  <div class="{% if !module.content.make_text_left_align %} text-center {% endif %}">
    {% if module.content.sup_title %}<b class="block mb-2">{{ module.content.sup_title }}</b>{% endif %} 
    {% if module.content.title %}<h2 class="mb-0">{{ module.content.title }}</h2>{% endif %}
    {% if module.content.richtext %} 
    <div class="richtext {% if module.content.title %} mt-4 {% endif %}">
      {{ module.content.richtext }}
    </div>
    {% endif %}
    {% if module.content.add_button %}
    <div class="mt-8 -mx-1 pb-1">
      {% for item in module.content.button %}
      {% set button_class = item.button_style %}

      {% if item.button_type == "link" %}

      {% set href = item.link.url.href %}
      {% if !item.link.url.href %}
      {% set href = "javascript:;" %}
      {% endif %}
      {% set rel = [] %}
      {% if item.link.no_follow %}
      {% do rel.append("nofollow") %}
      {% endif %}
      {% if item.link.open_in_new_tab %}
      {% do rel.append("noopener") %}
      {% endif %}
      <a href="{{ href }}"
         class="flex md:inline-flex m-1 {{ button_class }}"
         {% if item.link.open_in_new_tab and item.link.url.href %}target="_blank"{% endif %}
         {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
         >
        {{ item.button_label }}
      </a>    

      {% elif item.button_type == "scroll_to_module" %}

      {% if item.module_name_to_scroll %}
      {% set module_name_for_scroll = "#" + item.module_name_to_scroll|trim %}
      {% else %}
      {% set module_name_for_scroll = "javascript:;" %}
      {% endif %}
      <a href="{{ module_name_for_scroll }}" 
         {% if item.module_name_to_scroll %} data-scroll="true" {% endif %} 
         class="flex md:inline-flex m-1 {{ button_class }}">
        {{ item.button_label }}
      </a>
      
      {% elif item.button_type == "hubspot_chat" %}
      
      <a href="javascript:window.HubSpotConversations.widget.open();" 
         class="flex md:inline-flex m-1 {{ button_class }}">
        {{ item.button_label }}
      </a>

      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>