:focus{
    outline: 0 none;
  }
  .section-gap{
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    @screen lg{
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
    }
  }
  .d-none{
    display:none;
  }
  .container{
    width: 100%!important;
    max-width: 1280px!important;
  }
  .slick-prev {
    left: 0px;
  }
  .slick-next {
    right: 0px;
  }
  
  .embeded-responsive{
    position:relative;
    overflow:hidden;
  }
  
  .embeded-responsive:before{
    content:"";
    display:block;
  }
  
  .embeded-responsive-16by9:before{
    padding-top:56.25%;
  }
  
  .embeded-responsive-4by3:before{
    padding-top:75%;
  }
  
  .embeded-responsive-1by1:before{
    padding-top:100%;
  }