:focus{
    outline: 0 none;
  }
  .section-gap{
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    @screen lg{
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
    }
  }
  .d-none{
    display:none;
  }
  .slick-prev {
    left: 0px;
  }
  .slick-next {
    right: 0px;
  }
  
  .embeded-responsive{
    position:relative;
    overflow:hidden;
  }
  
  .embeded-responsive:before{
    content:"";
    display:block;
  }
  
  .embeded-responsive-16by9:before{
    padding-top:56.25%;
  }

  .embeded-responsive-21by9:before{
    padding-top:42.85%;
  }

  .embeded-responsive-4by3:before{
    padding-top:75%;
  }
  
  .embeded-responsive-1by1:before{
    padding-top:100%;
  }
.shape-top-left,.shape-top-right, .shape-bottom-left, .shape-bottom-right{
  position: absolute;
}
.shape-top-left{
  top: 0px;
  left: 0px;
}
.shape-top-right{
  top: 0px;
  right: 0px;
}
.blue-backdrop{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #003A7900 0%, #003A79B2 70% );
  z-index: 1;
}
.shape-bottom-left{
  bottom: 0px;
  left: 0px;
}
.shape-bottom-right{
  bottom: 0px;
  right: 0px;
}
.shape-inner{
  width: 100%;
  padding-top: 100%;
}
.shape-top-left .shape-inner{
  clip-path: polygon(0 0, 100% 0, 0 100%);
}
.shape-top-right .shape-inner{
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.shape-bottom-left .shape-inner{
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.shape-bottom-right .shape-inner{
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}
.shape-top-left .shape-outer, .shape-bottom-left .shape-outer{
  right: 100%;
}
.shape-top-right .shape-outer, .shape-bottom-right .shape-outer{
  left: 100%;
}
.shape-outer{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
}
