b{
    @apply font-medium;
}

.richtext, #hs_cos_wrapper_post_body{
    >*{
        @apply mb-0;
    }
    > *:not(:first-child){
        @apply mt-4;
    }
    ol{
        list-style: decimal;
        padding-left: 20px;
        li{
        padding-left: 10px;
        &:not(:last-child){
            @apply mb-4;
            }
        }
    }
}
