<div class="{% if module.module_settings.spacing.remove_top_space %} pt-0 {% endif %} {% if module.module_settings.spacing.remove_bottom_space %} pb-0 {% endif %}" style="{% if module.module_settings.spacing.remove_top_space %}padding-top:{{ module.module_settings.spacing.custom_top_spacing ~ 'px' }};{% endif %} {% if module.module_settings.spacing.remove_bottom_space %} padding-bottom:{{ module.module_settings.spacing.custom_bottom_spacing ~ 'px' }}{% endif %}" {% if module.module_settings.module_name %}id="{{ module.module_settings.module_name }}"{% endif %}>
  <div class="lg:flex items-center -mx-4">
    <div class="lg:w-1/2 px-4 mb-6 lg:mb-0 {% if module.media.place_media_on_right %} order-last {% endif %}">
      {% if module.media.media_type == "image" %}
      {% if module.media.image.src %}
      <img class="w-full h-auto" src="{{ module.media.image.src }}" alt="{{ module.media.image.alt }}" loading="lazy" width="{{ module.media.image.width }}" height="{{ module.media.image.height }}">
      {% endif %}
      {% elif module.media.media_type == "video" %}
      <div class="aspect-w-16 aspect-h-9">
        {% if module.media.video.video_source == "youtube" and module.media.video.youtube_id %}
        <iframe src="https://www.youtube.com/embed/{{ module.media.video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% elif module.media.video.video_source == "wistia" and module.media.video.wistia_id %}
        <iframe src="//fast.wistia.net/embed/iframe/{{ module.media.video.wistia_id }}?videoFoam=true&playerColor=3d5060" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreenoallowfullscreen msallowfullscreen></iframe>
        {% elif module.media.video.video_source == "hubspot" and module.media.video.video %}
        <video src="{{ module.media.video.video }}" controls preload="none" poster="{{ module.media.video.video_poster.src }}"></video>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="lg:w-1/2 px-4 {% if module.media.place_media_on_right %} lg:pr-24 {% else %} lg:pl-24 {% endif %}">
      {% if module.content.sup_title %}<b class="block mb-2">{{ module.content.sup_title }}</b>{% endif %} 
      {% if module.content.title %}<h2>{{ module.content.title }}</h2>{% endif %}
      {% if module.content.richtext %}
      <div class="richtext">
        {{ module.content.richtext }}
      </div>
      {% endif %}
      {% if module.content.add_button %}
      <div class="mt-8 -mx-1">
        {% for item in module.content.button %}
        {% set button_class = item.button_style %}

        {% if item.button_type == "link" %}

        {% set href = item.link.url.href %}
        {% if !item.link.url.href %}
        {% set href = "javascript:;" %}
        {% endif %}
        {% set rel = [] %}
        {% if item.link.no_follow %}
        {% do rel.append("nofollow") %}
        {% endif %}
        {% if item.link.open_in_new_tab %}
        {% do rel.append("noopener") %}
        {% endif %}
        <a href="{{ href }}"
           class="flex md:inline-flex m-1 {{ button_class }}"
           {% if item.link.open_in_new_tab and item.link.url.href %}target="_blank"{% endif %}
           {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
           >
          {{ item.button_label }}
        </a>    

        {% elif item.button_type == "scroll_to_module" %}

        {% if item.module_name_to_scroll %}
        {% set module_name_for_scroll = "#" + item.module_name_to_scroll|trim %}
        {% else %}
        {% set module_name_for_scroll = "javascript:;" %}
        {% endif %}
        <a href="{{ module_name_for_scroll }}" 
           {% if item.module_name_to_scroll %} data-scroll="true" {% endif %} 
           class="flex md:inline-flex m-1 {{ button_class }}">
          {{ item.button_label }}
        </a>

        {% elif item.button_type == "hubspot_chat" %}

        <a href="javascript:window.HubSpotConversations.widget.open();" 
           class="flex md:inline-flex m-1 {{ button_class }}">
          {{ item.button_label }}
        </a>

        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>